*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    padding: 0;
    margin: 0;
}

#coverImageDiv{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226); 
}

.norm-para{
    resize: none;
}
/* #mycol10, #mycol2{
    
    padding:0;
} */
